*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* ======================== Header ========================= */
header {
    padding: 60px 160px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{
list-style: none;
}
nav ul   {
display: flex;
gap: 30px;
}
nav a {
    text-decoration: none;
}
nav button:not(:last-child){
    border: 2px solid #D1A954;
    color: #D1A954;
    padding: 3px 4px;
    background: transparent;
}
nav button:nth-child(2)  {
    border: 2px solid #D1A954;
    color: #D1A954;
    padding: 3px 4px;
}