*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
section {
    padding: 100px 0;
}


/* ======================== Header ========================= */
header {
    padding: 60px 160px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav li{
list-style: none;
}
nav ul   {
display: flex;
gap: 30px;
}
nav a {
    text-decoration: none;
    color: #000000  ;
}
nav button:not(:last-child){
    border: 2px solid #D1A954;
    color: #D1A954;
    padding: 3px 4px;
    background: transparent;
}
nav button:nth-child(2)  {
    border: 2px solid #D1A954;
    color: #D1A954;
    padding: 3px 4px;
}
/* ============================= Main ============================ */
/* ============================= Header cards  ============================= */
.hero-container{
    max-width: 1880px;
    margin: 0 auto;
}
.hero-container img {
    width: 100%;
    object-fit: contain;
}
.box{
    position: relative;

}
.card-data {
    background-color: #D1A954E5;
    color: #fff;
   text-align: center;
   padding: 20px;    
   display: none;

   

}
.card-data div {
    border: 2px solid #fff;
    padding: 20px 80px;
    
}
.box:hover .card-data {
display: block;
bottom: 0;
z-index: 7;
position: absolute;
transition: 1s;

}
/* ================================== About restoran ================================ */
.palace-desc {
    display: flex;
}
.custom-container {
    max-width: 1000px;
    margin: 0 auto;
}
.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-heading {
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
/* ======================================= greed bar ======================================== */
.angry-grid {
    display: grid; 
 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    
    gap: 0px;
    height: 100%;
 }
 .angry-grid img {
    width: 100%;
    object-fit: contain;
 }
 .icon-grid {
 width: 100%;
 }
 .angry-grid div {
    margin: 15px;
 }
   
 #item-0 {
 display: flex;
 justify-content: center;
 align-self: center;
    background-color: #fff
 
    
 }
 #item-1 { 
    grid-row-start: 1;
    grid-column-start: 4;
 
    grid-row-end: 3;
    grid-column-end: 8;
    
 }
 #item-2 {
    grid-row-start: 1;
    grid-column-start: 8;
 
    grid-row-end: 3;
    grid-column-end: 11;
    
 }
 #item-3 {
    grid-row-start: 3;
    grid-column-start: 1;
 
    grid-row-end: 7;
    grid-column-end: 7;
    
 }
 #item-4 {
    grid-row-start: 3;
    grid-column-start: 7;
 
    grid-row-end: 5;
    grid-column-end: 11;
    
 }
 #item-5 {
    grid-row-start: 5;
    grid-column-start: 7;
 
    grid-row-end: 7;
    grid-column-end: 11;
    
 }
 /* ================================== download bar =============================== */
 .download-bar {
    background: url(../assets/Rectangle_4.png) no-repeat  center/cover;
 }
 .download-bar h3 {
    color: #fff;
 }
 .download-btn {
    display: flex;
    gap: 90px;
    margin: 20px 0;
 }
 .download-btn button {
    padding: 22px 46px;
    border:0 ;
 }
 /*================================== about restoran and inputs ===========================*/

 .about-restoran div{
     display: flex;
     gap: 15px  ;
     align-items: center;

 }
 .input-bar {
     flex-direction: column;
     align-items: flex-start;
     gap: 15px;
 }
 .input-bar input {
     width: 100%;
     border: none;
border-bottom: 2px solid #D0D0D0;
 }
 .input-bar textarea {
     resize: none;
     width: 100%;
     border: 2px solid #D0D0D0;
 }
.input-bar button {
    padding: 12px 36px;
    background-color: #D1A954;
    border: none;
    color: #fff;
}
/*===================== uderside  ===================================*/
.underside {
    justify-content: space-between;
    align-items: center;
    padding:40px 0 ;
}
.foot-bar {
    background-color: #f1f1f1;
}
.insta-photo  img{
    width: 100%;
    object-fit: contain;
}
.inst-contain {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}